In [1]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import pandas as pd
from sklearn.cluster import AgglomerativeClustering
import seaborn as sns

In [2]:
X = pd.read_csv('./train.csv')
X.isnull().sum().sort_values(ascending=False)

symptom6      222
symptom5      222
symptom4      222
symptom3      209
symptom2      200
symptom1      171
hosp_vis      103
sym_on        103
age            19
gender         11
death           0
from_wuhan      0
vis_wuhan       0
country         0
location        0
id              0
dtype: int64

In [3]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          222 non-null    int64
 1   location    222 non-null    object
 2   country     222 non-null    object
 3   gender      211 non-null    object
 4   age         203 non-null    float64
 5   sym_on      119 non-null    object
 6   hosp_vis    119 non-null    object
 7   vis_wuhan   222 non-null    int64
 8   from_wuhan  222 non-null    int64
 9   death       222 non-null    int64
 10  symptom1    51 non-null     object
 11  symptom2    22 non-null     object
 12  symptom3    13 non-null     object
 13  symptom4    0 non-null      float64
 14  symptom5    0 non-null      float64
 15  symptom6    0 non-null      float64
dtypes: float64(4), int64(4), object(8)
memory usage: 27.9+ KB

In [4]:
#X.info()
#X.head
X['symptom6'].fillna("Unknown", inplace=True)
X['symptom5'].fillna("Unknown", inplace=True)
X['symptom4'].fillna("Unknown", inplace=True)
X['symptom3'].fillna("Unknown", inplace=True)
X['symptom2'].fillna("Unknown", inplace=True)
X['symptom1'].fillna("Unknown", inplace=True)
X['hosp_vis'].fillna("Unknown", inplace=True)
X['sym_on'].fillna("Unknown", inplace=True)
X['gender'].fillna("Unknown", inplace=True)
X.dropna(subset=["age"], inplace=True)
X.dropna(subset=["from_wuhan"], inplace=True)
print(X.dtypes)
X.info()
X.head()

id              int64
location       object
country        object
gender         object
age           float64
sym_on         object
hosp_vis       object
vis_wuhan       int64
from_wuhan      int64
death           int64
symptom1       object
symptom2       object
symptom3       object
symptom4       object
symptom5       object
symptom6       object
dtype: object
<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 0 to 214
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          203 non-null    int64
 1   location    203 non-null    object
 2   country     203 non-null    object
 3   gender      203 non-null    object
 4   age         203 non-null    float64
 5   sym_on      203 non-null    object
 6   hosp_vis    203 non-null    object
 7   vis_wuhan   203 non-null    int64
 8   from_wuhan  203 non-null    int64
 9   death       203 non-null    int64
 10  symptom1    203 non-null    object
 11  symptom2    203 non-null    object
 12  symptom3    203 non-null    object
 13  symptom4    203 non-null    object
 14  symptom5    203 non-null    object
 15  symptom6    203 non-null    object
dtypes: float64(1), int64(4), object(11)
memory usage: 27.0+ KB

,id,location,country,gender,age,sym_on,hosp_vis,vis_wuhan,from_wuhan,death,symptom1,symptom2,symptom3,symptom4,symptom5,symptom6
0,49,"Wuhan, Hubei",China,male,61.0,12/20/2019,12/27/2019,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
1,50,"Wuhan, Hubei",China,male,69.0,12/30/2019,1/3/2020,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
2,51,"Wuhan, Hubei",China,male,89.0,Unknown,Unknown,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
3,52,"Wuhan, Hubei",China,male,89.0,1/13/2020,1/13/2020,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
4,53,"Wuhan, Hubei",China,male,66.0,1/10/2020,1/16/2020,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown

In [5]:
X.insert(0,"status",X['death']) #第一個參數是插入的index位置
#X['status'] = X['status'].astype(str) 
#X['status'] = X['status'].replace(0,3)
X.head()

,status,id,location,country,gender,age,sym_on,hosp_vis,vis_wuhan,from_wuhan,death,symptom1,symptom2,symptom3,symptom4,symptom5,symptom6
0,1,49,"Wuhan, Hubei",China,male,61.0,12/20/2019,12/27/2019,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
1,1,50,"Wuhan, Hubei",China,male,69.0,12/30/2019,1/3/2020,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
2,1,51,"Wuhan, Hubei",China,male,89.0,Unknown,Unknown,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
3,1,52,"Wuhan, Hubei",China,male,89.0,1/13/2020,1/13/2020,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
4,1,53,"Wuhan, Hubei",China,male,66.0,1/10/2020,1/16/2020,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown

In [6]:
#X['status'] = X['status'].replace(to_replace = 1, value = 0)

In [7]:
#X['status'] = X['status'].replace(to_replace = 3, value = 1)
X.head()

,status,id,location,country,gender,age,sym_on,hosp_vis,vis_wuhan,from_wuhan,death,symptom1,symptom2,symptom3,symptom4,symptom5,symptom6
0,1,49,"Wuhan, Hubei",China,male,61.0,12/20/2019,12/27/2019,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
1,1,50,"Wuhan, Hubei",China,male,69.0,12/30/2019,1/3/2020,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
2,1,51,"Wuhan, Hubei",China,male,89.0,Unknown,Unknown,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
3,1,52,"Wuhan, Hubei",China,male,89.0,1/13/2020,1/13/2020,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
4,1,53,"Wuhan, Hubei",China,male,66.0,1/10/2020,1/16/2020,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown

In [8]:
X.isnull().sum().sort_values(ascending=False)

symptom6      0
hosp_vis      0
id            0
location      0
country       0
gender        0
age           0
sym_on        0
vis_wuhan     0
symptom5      0
from_wuhan    0
death         0
symptom1      0
symptom2      0
symptom3      0
symptom4      0
status        0
dtype: int64

In [9]:
X.head()

,status,id,location,country,gender,age,sym_on,hosp_vis,vis_wuhan,from_wuhan,death,symptom1,symptom2,symptom3,symptom4,symptom5,symptom6
0,1,49,"Wuhan, Hubei",China,male,61.0,12/20/2019,12/27/2019,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
1,1,50,"Wuhan, Hubei",China,male,69.0,12/30/2019,1/3/2020,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
2,1,51,"Wuhan, Hubei",China,male,89.0,Unknown,Unknown,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
3,1,52,"Wuhan, Hubei",China,male,89.0,1/13/2020,1/13/2020,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
4,1,53,"Wuhan, Hubei",China,male,66.0,1/10/2020,1/16/2020,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown

In [10]:
X.loc[:,'sym_on']=pd.to_datetime(X.loc[:,'sym_on'],
                                           format='%m/%d/%Y',errors='coerce')
X.loc[:,'sym_on']=pd.to_datetime(X.loc[:,'sym_on'],
                                           format='%d/%m/%Y', errors='coerce')
X.loc[:,'hosp_vis']=pd.to_datetime(X.loc[:,'hosp_vis'],
                                           format='%m/%d/%Y',errors='coerce')

In [11]:
X['hosp_vis'] = (X['hosp_vis'] - X['sym_on']).dt.days
X.insert(5,"hosp_vis—sym_on",X['hosp_vis'])
#X =X.reset_index(drop=True)
X.head()

,status,id,location,country,gender,hosp_vis—sym_on,age,sym_on,hosp_vis,vis_wuhan,from_wuhan,death,symptom1,symptom2,symptom3,symptom4,symptom5,symptom6
0,1,49,"Wuhan, Hubei",China,male,7.0,61.0,2019-12-20,7.0,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
1,1,50,"Wuhan, Hubei",China,male,4.0,69.0,2019-12-30,4.0,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
2,1,51,"Wuhan, Hubei",China,male,NaN,89.0,NaT,NaN,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
3,1,52,"Wuhan, Hubei",China,male,0.0,89.0,2020-01-13,0.0,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
4,1,53,"Wuhan, Hubei",China,male,6.0,66.0,2020-01-10,6.0,0,1,1,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown

In [13]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
X['location'] = labelencoder.fit_transform(X['location'])
X['country'] = labelencoder.fit_transform(X['country'])
X['gender'] = labelencoder.fit_transform(X['gender'])
X['sym_on'] = labelencoder.fit_transform(X['sym_on'])
X['hosp_vis'] = labelencoder.fit_transform(X['hosp_vis'])
X['symptom1'] = labelencoder.fit_transform(X['symptom1'])
X['symptom2'] = labelencoder.fit_transform(X['symptom2'])
X['symptom3'] = labelencoder.fit_transform(X['symptom3'])
X['symptom4'] = labelencoder.fit_transform(X['symptom4'])
X['symptom5'] = labelencoder.fit_transform(X['symptom5'])
X['symptom6'] = labelencoder.fit_transform(X['symptom6'])
X['hosp_vis—sym_on'] = labelencoder.fit_transform(X['hosp_vis—sym_on'])
X['from_wuhan'] = labelencoder.fit_transform(X['from_wuhan'])
X['vis_wuhan'] = labelencoder.fit_transform(X['vis_wuhan'])
newX = X
newX.head()

,status,id,location,country,gender,hosp_vis—sym_on,age,sym_on,hosp_vis,vis_wuhan,from_wuhan,death,symptom1,symptom2,symptom3,symptom4,symptom5,symptom6
0,1,49,33,2,2,8,61.0,0,8,0,1,1,0,9,11,0,0,0
1,1,50,33,2,2,5,69.0,4,5,0,1,1,0,9,11,0,0,0
2,1,51,33,2,2,30,89.0,67,30,0,1,1,0,9,11,0,0,0
3,1,52,33,2,2,1,89.0,14,1,0,1,1,0,9,11,0,0,0
4,1,53,33,2,2,7,66.0,11,7,0,1,1,0,9,11,0,0,0

In [15]:
newX = X.drop(labels=["id","death"],axis = "columns")

In [ ]:
#好像可以不用
def normalize(df):
    result = df.copy()
    for feature_name in df.columns:
        max_value = df[feature_name].max()
        min_value = df[feature_name].min()
        result[feature_name] = (df[feature_name] - min_value) / (max_value - min_value)
    return result
newX = normalize(newX)

In [16]:
newX_final = newX

In [18]:
from sklearn.model_selection import train_test_split
X_, Y_ = newX_final.iloc[:, 1:].values, newX_final.iloc[:, 0].values
#X, Y = newX_final.iloc[:, 1:].values, newX_final.iloc[:, 0].values
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [19]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
rf = RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=2, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=5, min_samples_split=7,
                       min_weight_fraction_leaf=0.0, n_estimators=300,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)
classifier = AdaBoostClassifier(rf,50,0.01,'SAMME.R',10)

In [21]:
from sklearn.metrics import recall_score as rs
from sklearn.metrics import precision_score as ps
from sklearn.metrics import f1_score as fs
from sklearn.metrics import balanced_accuracy_score as bas
from sklearn.metrics import confusion_matrix as cm

classifier.fit(X_,np.array(Y_).reshape(Y_.shape[0],1))
pred = np.array(classifier.predict(X_))

recall = rs(Y_,pred)
precision = ps(Y_,pred)
f1 = fs(Y_,pred)
ma = classifier.score(X_,Y_)

C:\Users\User\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [22]:
print('*** Evaluation metrics for test dataset ***\n')

print('Recall Score: ',recall)
print('Precision Score: ',precision)
print('F1 Score: ',f1)
print('Accuracy: ',ma)

*** Evaluation metrics for test dataset ***

Recall Score:  0.6551724137931034
Precision Score:  1.0
F1 Score:  0.7916666666666666
Accuracy:  0.9014778325123153

In [23]:
from sklearn.metrics import confusion_matrix
CM_knn = confusion_matrix(Y_, pred)
CM_knn

array([[145,   0],
       [ 20,  38]], dtype=int64)

In [ ]:
from xgboost import XGBClassifier
xgbc = XGBClassifier(max_depth=5,eta=0.1,n_estimators=100)
xgbc.fit(X_train, y_train)

In [ ]:
y_predict = xgbc.predict(X_test)

In [ ]:
#testing result
from sklearn import metrics
xgbc.score(X_test,y_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_predict))
print("Precision:",metrics.precision_score(y_test, y_predict))
print("Recall:",metrics.recall_score(y_test, y_predict))

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_predict))

In [ ]:
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
confmat = confusion_matrix(y_true=y_test, y_pred=y_predict)
fig, ax = plt.subplots(figsize=(2.5, 2.5))
ax.matshow(confmat, cmap=plt.cm.Blues, alpha=0.3)
for i in range(confmat.shape[0]):
    for j in range(confmat.shape[1]):
        ax.text(x=j, y=i, s=confmat[i,j], va='center', ha='center')
plt.xlabel('predicted label')        
plt.ylabel('true label')
plt.show()

In [ ]:
import xgboost as xgb
import matplotlib
import matplotlib.pyplot as plt

xgb.plot_tree(xgbc)
fig = matplotlib.pyplot.gcf()
fig.set_size_inches(150, 100)
#.savefig('tree.png')

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(X, y)
y_new = model.predict(X_test)

from sklearn.metrics import classification_report
print(classification_report(y_test,y_new))

In [ ]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_new))
print("Precision:",metrics.precision_score(y_test, y_new))
print("Recall:",metrics.recall_score(y_test, y_new))

In [ ]:
from sklearn.metrics import confusion_matrix
confmat = confusion_matrix(y_true=y_test, y_pred=y_new)
fig, ax = plt.subplots(figsize=(2.5, 2.5))
ax.matshow(confmat, cmap=plt.cm.Blues, alpha=0.3)
for i in range(confmat.shape[0]):
    for j in range(confmat.shape[1]):
        ax.text(x=j, y=i, s=confmat[i,j], va='center', ha='center')
plt.xlabel('predicted label')        
plt.ylabel('true label')
plt.show()